version: "3.8"

services:
  mongo:
    image: mongo:6.0
    container_name: discoverdollar-devops-assignment-mongo-1
    restart: always
    command: ["mongod", "--bind_ip_all", "--noauth"]
    volumes:
      - ./data/db:/data/db
    ports:
      - "27017:27017"

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: discoverdollar-devops-assignment-backend-1
    restart: always
    depends_on:
      - mongo
    environment:
      MONGO_URL: mongodb://mongo:27017/dd_db
    ports:
      - "3000:3000"

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: discoverdollar-devops-assignment-frontend-1
    restart: always
    depends_on:
      - backend
    ports:
      - "4200:80"

  nginx:
    image: nginx:latest
    container_name: discoverdollar-devops-assignment-nginx-1
    restart: always
    depends_on:
      - frontend
      - backend
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf

networks:
  default:
    driver: bridge
