version: "3.8"

services:
  mongo:
    image: mongo:6.0
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example
    volumes:
      - mongo-data:/data/db

  backend:
    image: prasannff/dd-backend:latest
    depends_on:
      - mongo
    environment:
      NODE_ENV: production
      PORT: 3000
      # backend should read MONGO_URI from env
      MONGO_URI: "mongodb://root:example@mongo:27017/yourdb?authSource=admin"
    restart: always
    expose:
      - "3000"

  frontend:
    image: prasannff/dd-frontend:latest
    depends_on:
      - backend
    restart: always
    expose:
      - "80"

  nginx:
    image: nginx:stable-alpine
    depends_on:
      - frontend
      - backend
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    ports:
      - "80:80"
    restart: always

volumes:
  mongo-data:
